---
---
/*CSS for comic site*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Droid Sans', sans-serif;
  font-size: 15px;
  color: #424142;
  padding-top: 10px;
  background-size: auto auto, 25% auto;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom, #9badb7FF, #778795FF, #576374FF, #3b4054EE, #222034DD), url('../assets/bg_texture.png');
}

.header {
  display: flex;
  background-color: transparent;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px 0px;
  max-width: 900px;
}

.header img {
  padding: 5px 20px 15px;
  margin: 0px auto;
  max-width: fit-content;
  width: 100%;
  height: auto;
}

.nav {
  justify-content: center;
}

.main {
  flex-grow: 1;
}

.footer {
  background-color: transparent;
  padding: 10px;
  margin-bottom: 10px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  border-radius: 20px;
  max-width: 900px;
  font-family: 'Motorola';
  font-size: 20px;
}

.footer-content p {
  margin-bottom: 0px;
}

.navigation {
  background-color: #222034;
  border-radius: 50px;
  padding: 0px 20px;
  margin: 0px 5px 5px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.navigation a {
  color: white;
  font-size: 14px;
  font-family: 'DoNotPress';
  padding: 2px 15px;
}

.navigation a:hover {
  color: #FBF236;
}

.navigation a:focus {
  color: #FBF236;
}

.panel {
  background-color: white;
  margin: 0px auto 20px;
  padding: 5px 0px 20px;
  display: flex;
  justify-content: center;
  max-width: 900px;
}

.page-controls {
  padding: 30px 0px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-controls div {
  margin: 0px 5px
}

.content {
  max-width: 750px;
  min-width: 750px;
}

.content h1 {
  font-family: 'Museo';
  font-size: 38px;
  margin: 25px 15px 20px;
}
.content img {
  display: block;
  margin: 26px auto 0px;
  max-width: 100%;
  height: auto;
}

.content p {
  font-family: 'PT Serif';
  font-size: 19px;
  margin-top: 24px;
  line-height: 150%;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.content blockquote {
  font-family: 'PT Serif';
  font-size: 19px;
  font-style: italic;
  line-height: 150%;
  margin-left: 15px;
  margin-top: 22px;
  padding-left: 18px;
  margin-right: 15px;
  padding-right: 30px;
  margin-bottom: 0px;
  border-width: 0px 0px 0px 2px;
  border-color: black;
  border-style: solid;
}

.content blockquote + blockquote {
  margin-top: 0px;
  padding-top: 20px;
}

.content .p-ignore {
  margin-left: 0px;
  margin-right: 0px;
}

.content h2 {
  font-family: 'Museo';
  font-size: 32px;
  margin: 26px 15px 0px;
}

.content h2 + * {
  margin-top: 12px;
}


.godot-wrapper-450x600 {
  max-width: 600px;
  max-height: 450px;
  margin: 30px auto;
}

.godot-wrapper-600x800 {
  max-width: 800px;
  max-height: 600px;
  margin: 30px -25px;
}

/*
  game-wrapper is a div that helps preserve the aspect ratio of our game by
  leveraging percentage-based padding.
*/
.game-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 75%;
}

/*
game-frame is a div that tells our iframe to take up all of the
space it's allowed to - the game-wrapper will set the bounds.
*/
.game-frame {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* MEDIA QUERIES */
/*=============================*/


@media (max-width: 910px) {

  .footer {
    padding: 10px 0px 0px;
  }
  
  .footer-content {
    border-radius: 0px;
  }
}

@media (max-width: 800px) {
  .godot-wrapper-600x800 {
    max-width: 800px;
    max-height: 600px;
    margin: 30px auto;
  }
}

@media (max-width: 767.98px) {
  .navigation a {
    font-size: 12px;
  }

  .content {
    max-width: 750px;
    min-width: 0px;
  }
  
  .content p {
    margin-left: 15px;
    margin-right: 15px;
  }
  

  .content h1 {
    font-size: 32px;
    margin: 20px 15px 10px;
  }

  .content h2 {
    font-size: 26px;
  }
}

@media (max-width: 575.98px) {

  .content h1 {
    font-size: 28px;
  }

  .content h2 {
    font-size: 24px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Droid Sans', sans-serif;
    font-size: 15px;
    color: #424142;
    padding-top: 10px;
    background-size: auto auto, 25% auto;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, #3f3f74FF, #383763FF, #312f53FF, #292743EE, #222034DD), url('../assets/bg_texture.png');
  }

  .panel {
    background-color: #222034;
  }

  .content {
    color:white;
  }
}

/* FONTS */
/*=============================*/

@font-face {
  font-family: 'Museo';
  src: url("../fonts/MuseoSansCyrl-700.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PT Serif';
  src: url("../fonts/PTSerif-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Serif';
  src: url("../fonts/PTSerif-Italic.ttf") format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'PT Serif';
  src: url("../fonts/PTSerif-Bold.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PT Serif';
  src: url("../fonts/PTSerif-BoldItalic.ttf") format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Motorola';
  src: url("../fonts/16802.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DoNotPress';
  src: url("../fonts/12659.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Upheaval';
  src: url("../fonts/9913.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}
