---
---
/*CSS for comic site*/

body {
  font-family: 'Droid Sans', sans-serif;
  font-size: 15px;
  color: #424142;
  padding-top: 10px;
  background-color: gray;
}

.header {
  display: flex;
  background-color: #9BADB7;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px 0px;
  max-width: 900px;
}

.header img {
  padding: 20px 20px 10px;
  margin: 0px auto;
  max-width: fit-content;
  width: 100%;
  height: auto;
}

.navigation {
  background-color: #222034;
  border-radius: 25px;
  padding: 2px 20px;
  margin-bottom: 5px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.navigation a {
  color: white;
  font-weight: bold;
}

.navigation a:hover {
  color: #FBF236;
}

.panel {
  background-color: white;
  /* width: fit-content; */
  margin: 0px auto 30px;
  padding: 5px 0px 20px;
  display: flex;
  justify-content: center;
  max-width: 900px;
  
}

.content {
  /* background-color: blue; */
  max-width: 720px;
  margin: 0px 15px;
}

/* .comic-container {
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px;
} */

/* .comic-panel {
  max-width: 720px;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
} */

.content h1 {
  font-family: 'Museo';
  font-size: 38px;
  margin: 30px 0px 10px;
}
.content img {
  display: block;
  margin: 20px auto 0px;
  max-width: 100%;
  height: auto;
}

.content p {
  font-family: 'PT Serif';
  font-size: 19px;
  padding-bottom: 10px;
  line-height: 150%;
}

.content h2 {
  font-family: 'Museo';
  font-size: 32px;
  margin: 10px 0px 0px;
}

/* MEDIA QUERIES */
/*=============================*/

@media (max-width: 767.98px) {
  .content {
    margin: 0px 20px;
  }

  .content h1 {
    font-size: 32px;
  }

  .content h2 {
    font-size: 26px;
  }
}

@media (max-width: 575.98px) {
  .content h1 {
    font-size: 28px;
  }

  .content h2 {
    font-size: 24px;
  }

}

/* .panel p {
  padding: 0px 25px 0px 25px;
  font-family: 'Roboto', sans-serif;
}

.panel h1 {
  font-size: 30px;
  font-weight: regular;
  font-family: 'Arvo', serif;
  padding: 0px 25px 0px 25px;
}

.panel h2 {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Arvo', serif;
  padding: 0px 25px 0px 25px;
}

.panel h3 {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Arvo', serif;
  padding: 0px 25px 0px 25px;
} */

/* .panel img {
  height: 100%;
  width: 100%;
} */
/* 
.center {
  margin: auto;
  float: none;
}
 */

@font-face {
  font-family: 'Museo';
  src: url("../fonts/MuseoSansCyrl-700.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PT Serif';
  src: url("../fonts/PTSerif-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Serif';
  src: url("../fonts/PTSerif-Italic.ttf") format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'PT Serif';
  src: url("../fonts/PTSerif-Bold.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PT Serif';
  src: url("../fonts/PTSerif-BoldItalic.ttf") format('truetype');
  font-weight: bold;
  font-style: italic;
}


/* HEADER STYLES */
/*=============================*/
/* 
.jumbotron {
  padding: 0px 0px 0px 0px;
  font-family: 'Fredoka One', cursive;
  text-align: center;
  background-color: #9BADB7;
}

.container {
  padding: 0px 0px 0px 0px;
  text-align: left;
}

.jumbotron img {
  padding: 20px 20px 10px;
  max-width: fit-content;
  width: 100%;
  height: auto;
}

.jumbotron .logo-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.jumbotron a {
  width: fit-content;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.jumbotron h1 {
  font-family: 'Fredoka One', cursive;
}

.jumbotron p {
  font-family: 'Roboto', sans-serif;
}

.jumbotron a {
  color: #424142;
}

.jumbotron a:visited {
  color: #424142;
} */



/* ARCHIVE STYLES */
/*=============================*/
/* 
.archive-li {
    display: block;
}

.archive-ul {
  margin: 0px;
  list-style: none;
} */





/* NAVBAR STYLES */
/*=============================*/
/* .navbar {
  background-color: transparent;
  border-width: 0px;
  margin-bottom: 0px;
}

.navbar .navbar-default {
  display: inline-block;
  float: none;
  vertical-align: top;
  margin-bottom: none;
}

.navbar .navbar-nav {
  font-family: 'Arvo', serif;
  margin-left: auto;
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
} */



/* COMIC PANEL STYLES */
/*=============================*/
.comic-container {
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px;
}

.comic-panel {
  max-width: 720px;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

.comic-panel h1 {
  font-family: 'Museo';
  font-size: 38px;
  margin: 30px 0px 10px;
}

/* .comic-panel .image-wrapper {
  margin: 25px auto;
  max-width: 100%;
  height: auto;
} */

/* .comic-panel img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
}

.comic-panel p {
  font-family: 'PT Serif';
  font-size: 19px;
  padding-bottom: 10px;
  line-height: 150%;
}

.comic-panel h2 {
  font-family: 'Museo';
  font-size: 32px;
  margin: 10px 0px 0px;
} */

/* MEDIA QUERIES */
/*=============================*/
/* 
@media (max-width: 767.98px) {
  .comic-panel h1 {
    font-size: 32px;
  }
}

@media (max-width: 575.98px) {

} */