<!DOCTYPE html>

<!--FRONT PAGE LAYOUT-->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
      const contentWidth = 800;
      // Get the viewport width
      const viewportWidth = Math.max(
        document.documentElement.clientWidth || 0,
        window.innerWidth || 0
      );

      // Calculate the desired initial scale value
      const initialScale = viewportWidth / contentWidth;

      // Set the initial scale dynamically
      document
        .querySelector('meta[name="viewport"]')
        .setAttribute(
          "content",
          "width=" + contentWidth + ", initial-scale=" + initialScale
        );
    </script>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="" />
    <meta name="author" content="" />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:site_name" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.title }}" />
    <meta name="theme-color" content="#9badb7" />
    <!-- <meta property="og:description" content="Write the body text here"> -->
    <meta property="og:image" content="{{ site.url }}/pages/REPLACE.png" />

    <!-- <title>{{ site.tab_title }}</title> -->
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="../assets/favicon.ico" />

    <!-- Bootstrap core CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Custom styles for webcomic -->
    <link href="{{ site.url }}/css/comic.css" rel="stylesheet" />
    <!--Google Fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Arvo|Fredoka+One|Roboto"
      rel="stylesheet"
    />

    <!-- Font Awesome-->
    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    {% include header.html %}
    <div class="main">
      <div class="panel container-md">
        <div class="content">
          {{ content }} {% if page.category == "page" %} {% include
          page-controls.html %} {% endif %}
        </div>
      </div>
    </div>
    {% include footer.html %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
